{% extends "big-pipe-interface-preview--block--views-block--social-geolocation-map.html.twig" %}

{#
/**
 * @file
 * Theme implementation for a BigPipe JS placeholder interface preview of the groups map block.
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 */
#}
