@mixin circle {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;

  @content;
}

.marker-cluster,
.marker-cluster--small {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  &:after {
    @include circle {
      opacity: .6;
      z-index: 1;
    }
  }

  div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 50%;
    background: transparent;

    font-weight: 700;
    color: #fff;
    font-size: 1.125rem;
    z-index: 2;

    span {
      position: relative;
      margin-top: -3px;
      z-index: 3;
    }

    &:after {
      @include circle {
        opacity: .8;
      }
    }
  }
}

.geolocation-map-container {
  z-index: 5;
}

.leaflet-container .leaflet-popup {
  font-family: "montserrat", sans-serif;

  * {
    box-sizing: border-box;
  }

  .leaflet-popup-content-wrapper {
    padding-top: 12px;
  }

  .leaflet-popup-close-button {
    width: 16px;
    height: 16px;
    top: 13px;
    right: 12px;
    color: #343434;
    margin-left: auto;
    padding: 0;
  }
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #343434;

  .teaser--small {
    &.teaser--small__location {
      flex-direction: column;
      padding-top: 0;
    }

    .teaser--content-wrapper {
      display: flex;
      padding: 4px;
      border-radius: 8px;
      background-color: #F3F3F3;
    }

    .teaser--small__details {
      .teaser--small__title {
        &,
        a {
          color: inherit;
        }
      }

      .teaser--small__meta {
        svg {
          display: none;
        }
      }
    }

    .teaser--small__location {
      flex: 0 0 100%;
      max-width: 100%;
      padding-bottom: 12px;
      font-size: .875rem;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: .28px;
    }
  }
}
